@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --text-color: rgb(255,0,0);
    --background-color: rgb(219, 41, 180);
    --card-background-color: #DBBD2A;
    --shadow-color : black;
    --contentwidth: 60%;
}

.divsection-content{
    width: var(--contentwidth);
}

body{
    background-color: var(--background-color);
    color: #ffffff;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    padding: 0;
    margin: 0;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

h1{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 0vh; 
    font-size: 5vh;
}

p{
    align-content: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    width: 70%;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

h1.section0 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 7.5rem;
    margin: 0 0 1rem 0;
    padding: 0;
    line-height: 1;
    text-align: center;
}

h2.ph {
    font-size: 1.5rem;
    text-align: center;
    max-width: 45rem;
    font-weight: lighter;
    margin: 0 auto;
    line-height: 1.9rem;
}

.ph {
    font-size: 16px;
    margin-top: 0;
    align-content: left;
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefer-reduced-motion){
    .hidden{
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logos {
    display: flex;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 400ms; 
}
.logo:nth-child(4) {
    transition-delay: 600ms;
}

img {
    max-width: 30vh;
    height: 30vh;
  }

.imgcard{
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    box-shadow: var(--shadow-color)
}

.header1{
    display: grid;
    place-items: center;
    align-content: center;
    max-width: 100%;
    height: 5vh;
    padding-top: 2%;
}

.section-flow-1{
    position: absolute;
    top: 10%;
    left:48%;
    width:48%;
    background-size: contain;
    background-repeat: no-repeat;
}

.section-flow-2{
    position: absolute;
    top: -15%;
    left: 60%;
    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;
}

.headp{
   font-size: 1rem;
   width: 100%;
}

.setion1quote{
    font-size: 2rem;
    align-content: left !important;
    width: 70%;
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
}

.grid-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    align-items: center,stretch; /* Center vertically */
    width: 60vw; /* 60% of viewport width */
    gap: 10px; /* Adjust the gap between columns as needed */
    
}

.grid-container .grid-item {
    flex: 1 0 calc(33% - 10px); /* Distribute items evenly (5 columns) with gap */
    max-width: calc(33% - 10px); /* Maximum width for each item with gap */
    background-color: var(--card-background-color); /* Placeholder background color */
    padding: 20px; /* Adjust padding as needed */
    text-align: center; /* Center the content */
    box-sizing: border-box; /* Include padding and border in the total width */
    box-shadow: 0 0 10px rgba(226, 6, 6, 0.5);
    border-radius: 20px;
}

.wiggling-image {
    animation: wiggleImage 1s ease-in-out infinite alternate; /* Adjust duration and timing function as needed */
}

@keyframes wiggleImage {
    0% {
        transform: rotateZ(-5deg); /* Initial position */
    }
    100% {
        transform: rotateZ(5deg); /* Final position */
    }
}

h3{
    font-size: 1.5rem;
}

.boxp{
    font-size: 1rem;
    line-height: 1.2rem;
    width: 70%;
}

.boxp-small{
    font-size: 1rem;
    line-height: 1.2rem;
    width:100%;
}

/*new way to make column */
.grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 200px;
place-items: center;
background-color: #DBBD2A;
width: 60%;
}

/*new way it responsive*/
article {
    width: clamp (200px, 50%, 600px)
}

.basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(6, minmax(300px,1fr));
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    margin: 0% 20% 0% 20%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background: var(--card-background-color);
    font-size: 1rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 /* CSS */
.timeline {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    scrollbar-width: thin;
    width: 60%;
  }
  
  .timeline-item {
    flex: 0 0 auto;
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--card-background-color);
  }

  /* For devices with width less than 600px */
@media (max-width: 600px) {
    .timeline {
      flex-direction: column;
      align-items: center;
    }
  
    .timeline-item {
      width: 80%;
    }
  }

.playButton {
    background-color: var(--background-color); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Add this line */
}

button {
    appearance: auto;
    font-style: inherit;
    font-variant-ligatures: inherit;
    font-variant-caps: inherit;
    font-variant-numeric:inherit ;
    font-variant-east-asian: inherit ;
    font-variant-alternates: inherit;
    font-variation-settings: inherit;
    text-rendering: auto;
    font-family: inherit;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    background-color: var(--background-color); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Add this line */
}

.h3inbox{
    width: 80%;
}


/*for pop up */
.modal {
    display: none; /* Hidden by default */
    position: relative; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* The close button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* The image in the modal */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* The caption of the modal image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-height: 150px;
    overflow: auto;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }