/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");

/* General styles */
body {
  background-color: var(--background-color);
  color: var(--tex-color-main);
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-size: 1.5rem; /* Default font size */
  line-height: 1.5; /* Comfortable line height for readability */
  margin: 0;
  padding: 0;
}

:root {
  --text-color: rgb(255, 0, 0);
  --background-color: #c6ae73;
  --card-background-color: #45589c;
  --shadow-color: black;
  --content-width: 60%;
  --tex-color-main: #282828;
  --h3-color-text: #7dad7d;
}

/* Anchor tag styling */
a {
  text-decoration: wavy;
  color: var(--card-background-color);
}

a:hover {
  color: var(--background-color);
}

/* Section and content layout */
.section,
.header1 {
  display: grid;
  place-items: center;
  align-content: center;
}

.section {
  min-height: 100vh;
  max-width: 60vw;
}

.header1 {
  .header1 {
    height: 5vh; /* Responsive height based on viewport height */
    padding-top: 0.5rem; /* Consistent padding */
  }
}

.wrapper {
  /* Add your styles for the wrapper div here */
  max-width: 1200px; /* For example, setting a maximum width */
  margin: 0 auto; /* To center the wrapper horizontally */
  padding: 20px;
  min-height: 100vh;
  overflow: visible;
  max-height: fit-content;
  align-items: center;
}

.article {
  max-width: width 60vh;
}

.divsection-content,
.grid,
.basic-grid,
.timeline {
  min-width: var(--content-width);
  margin: 0 auto;
}

/* Typography */
h1,
h2 {
  text-align: center;
  color: #b8424c;
}

h3 {
  text-align: center;
  color: var(--h3-color-text);
}

h1 {
  font-size: 3vh;
}

h1.section0 {
  font-size: 5.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1;
}

h2.ph,
.ph {
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1.9rem;
  text-align: center;
}

#ph-1 {
  color: var(--tex-color-main);
  font-weight: 400;
}

.ph {
  margin-top: 0;
  margin-bottom: 60px;
  text-align: left;
}

.credit-text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.9rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

.headp5 {
  text-align: center;
  font-size: 10px;
}

.boxp,
.setion1quote,
.p,
.h3inbox {
  width: 70%;
}

.boxp-small {
  width: 100%;
  color: var(--background-color);
}

.boxp,
.boxp-small {
  font-size: 1rem;
  line-height: 1.2rem;
}

.boxp {
  ont-size: 1rem;
  line-height: 1.2rem;
  color: var(--background-color);
}

.setion1quote {
  font-size: 2rem;
  text-align: left;
}

p {
  margin: 1em 0;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: justify;
}

.hilight-body-text {
  color: var(--card-background-color);
}

/* Grid layouts */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px;
  place-items: center;
  background-color: var(--card-background-color);
}

.basic-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 1%;
  max-height: fit-content;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.grid-container .grid-item {
  flex: 1 0 calc(33% - 10px);
  max-width: calc(33% - 10px);
  background-color: var(--card-background-color);
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(226, 6, 6, 0.5);
  border-radius: 20px;
}

/* Image styling */
img {
  max-width: 30vh;
  height: 30vh;
}

.imgcard {
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  box-shadow: var(--shadow-color);
}

/* Animation */
.wiggling-image {
  animation: wiggleImage 1s ease-in-out infinite alternate;
}

@keyframes wiggleImage {
  0% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}

/* Animation */
.wiggling-imag-2 {
  animation: wiggleImage-2 1s ease-in-out infinite alternate;
}

@keyframes wiggleImage-2 {
  0% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}

/* Button styling */
button,
.playButton {
  appearance: none;
  font-family: inherit;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  border: none;
}

/* Card styling */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--card-background-color);
  font-size: 1rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  transition: all 500ms;
  overflow: visible;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

/* Timeline styling */
.timeline {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
  scrollbar-width: thin;
}

.timeline-item {
  flex: 0 0 auto;
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--card-background-color);
  align-items: center;
}

@media (max-width: 600px) {
  .timeline {
    flex-direction: column;
    align-items: center;
  }

  .timeline-item {
    width: 80%;
  }
}

/* Hidden and show classes for animations */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Flex container */
.container {
  display: flex;
  justify-content: center;
}

/* Logos animation delay */
.logos .logo:nth-child(2) {
  transition-delay: 200ms;
}

.logos .logo:nth-child(3) {
  transition-delay: 400ms;
}

.logos .logo:nth-child(4) {
  transition-delay: 600ms;
}

/* Modal styling */
.modal {
  display: none;
  position: relative;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-height: 150px;
  overflow: auto;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Additional classes for positioning */
.first-title {
  position: relative;
  margin-top: 200px;
}

.morlum-pic {
  position: absolute;
  top: -180px;
  left: 590px;
}

.section-flow-2 {
  position: relative;
  top: -560px;
  left: 180px;
}

.title-credit {
  text-align: center;
}

/*footer*/

.main-footer {
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--card-background-color);
}

.main-footer ul {
  list-style: none;
}

.main-footer h1 {
  font-size: 22px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}

.main-footer h2 {
  color: #ffffff;
  font-weight: 500;
}

.main-footer ul li a {
  color: #ffffffcc;
  text-decoration: none;
}

footer {
  background-color: var(--card-background-color);
  font-size: 17px;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

.logoinfo p {
  color: #6eb981;
  font-size: 17px;
  margin-top: 5px;
}

.contact-details {
  margin-top: 20px;
}

.contact-details li {
  list-style: none;
  margin: 10px 0;
}

.contact-details li a {
  text-decoration: none;
  color: #f1f1f1;
}

.contact-details .fa {
  color: #f1f1f1;
  margin-right: 10px;
}

.sociallogos {
  padding: 20px 0;
}

.sociallogos .logobox a {
  padding: 0 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}

.com ul li {
  padding: 5px 0;
}

/* Media queries */
@media only screen and (max-width: 749px) {
  .main-footer {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .info {
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
  .main-footer {
    grid-template-columns: 1fr;
  }
  .sociallogos {
    padding: 20px 0;
  }
  .com {
    padding: 20px 0;
  }
}

.feature-image {
  display: block;
  max-width: 50%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  justify-content: center;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 10px;
}

/* form mock-up */
@import "bourbon";

.wrapper-form {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 450px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: var(--card-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading,
.checkbox {
  margin-bottom: 30px;
}

.checkbox {
  font-weight: normal;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  @include box-sizing(border-box);

  &:focus {
    z-index: 2;
  }
}

input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.datavis-embed {
  display: block;
  text-align: center;
}

/* testing popup modul 
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(69, 88, 156, 0.9);
  border-radius: 20px;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: auto;
  max-width: 700px;
}

#modalHeader {
  display: block;
  text-align: center !important;
  z-index: 100;
  color: var(--h3-color-text);
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  overflow: visible;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
  font-size: 18px;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.myImg {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.myImg:hover {
  transform: scale(1.1) rotate(10deg);
  opacity: 0.8;
  cursor: pointer;
}

/* Add Animation */
#transformElement {
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%); /* Initially move the image off-screen */
}

.animate img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.animate.active img {
  opacity: 1;
}

.morlum-pic-1 {
  position: absolute;
  top: 100px;
  left: 170px;
}

#khean-1 {
  width: 250px;
  height: 600px;
}

.morlum-pic-2 {
  position: absolute;
  top: 100px;
  left: 1500px;
}

#khean-2 {
  width: 250px;
  height: 600px;
  transform: rotateZ(-10deg);
}

.wrapper-2 {
  display: flex;
  padding: 20px;
  min-height: 100vh;
}

.flex-container-2 {
  margin: 10px;
}

.feature-image-1 {
  min-width: 50vh;
  min-height: 65vh;
  padding: 10px;
}

/* money-drop */
/* main container */
.container-money {
  top: 0px;
  width: 100%;
  height: 100%;
  min-height: 800px;
  position: absolute;
  left: 0%;
  /* 	background:#1E1E20 url(http://premiumcoding.com/CSSTricks/fallingLeaves/autumn.jpg) center top no-repeat; */
  background-size: contain;
}

.loader {
  text-align: center;
}
.loader span {
  display: inline-block;
  margin: -280px 40px 54px -34px;
  background: url("asset/new-ci/money-drop-20.svg");
  background-size: contain;
  background-repeat: no-repeat;

  -webkit-animation: loader 10s infinite linear;
  -moz-animation: loader 10s infinite linear;
}
.loader span:nth-child(5n + 5) {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
}
.loader span:nth-child(3n + 2) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}
.loader span:nth-child(2n + 5) {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
}

.loader span:nth-child(3n + 10) {
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
}
.loader span:nth-child(7n + 2) {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
}
.loader span:nth-child(4n + 5) {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
}
.loader span:nth-child(3n + 7) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
}
@-webkit-keyframes loader {
  0% {
    width: 80px;
    height: 80px;
    opacity: 1;

    -webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 80px;
    height: 80px;
    opacity: 1;

    -webkit-transform: translate(100px, 600px) rotateZ(270deg);
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;

    -webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}
@-moz-keyframes loader {
  0% {
    width: 80px;
    height: 80px;
    opacity: 1;

    -webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 80px;
    height: 80px;
    opacity: 1;

    -webkit-transform: translate(100px, 600px) rotateZ(270deg);
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;

    -webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}

/* Ensures the iframe is responsive */
.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  background-color: #c6ae73;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
