/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");

/* General styles */
body {
  background-color: var(--background-color);
  color: var(--tex-color-main);
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --text-color: rgb(255, 0, 0);
  --background-color: #c6ae73;
  --card-background-color: #45589c;
  --shadow-color: black;
  --content-width: 60%;
  --tex-color-main: #282828;
  --h3-color-text: #7dad7d;
  --mainfont: "IBM Plex Sans Thai", sans-serif;
}

a {
  text-decoration: wavy;
  color: var(--card-background-color);
}

a:hover {
  color: var(--background-color);
}

.section,
.header1 {
  display: grid;
  place-items: center;
  align-content: center;
}

.section {
  min-height: 100vh;
  max-width: 60vw;
}

.header1 {
  height: 5vh;
  padding-top: 0.5rem;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  min-height: 90vh;
  overflow: visible;
  max-height: fit-content;
  align-items: center;
}

.article {
  max-width: width 60vh;
}

.divsection-content,
.grid,
.basic-grid,
.timeline {
  min-width: var(--content-width);
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
  color: #b8424c;
}

h3 {
  text-align: center;
  color: var(--h3-color-text);
}

h1 {
  font-size: 3vh;
}

h1.section0 {
  font-size: 5.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1;
}

h2.ph,
.ph {
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1.9rem;
  text-align: center;
}

#ph-1 {
  color: var(--tex-color-main);
  font-weight: 400;
}

.ph {
  margin-top: 0;
  margin-bottom: 60px;
  text-align: left;
}

.credit-text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.9rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

.headp5 {
  text-align: center;
  font-size: 10px;
}

.boxp,
.setion1quote,
.p,
.h3inbox {
  width: 70%;
}

.boxp-small {
  width: 100%;
  color: var(--background-color);
}

.boxp,
.boxp-small {
  font-size: 1rem;
  line-height: 1.2rem;
}

.setion1quote {
  font-size: 2rem;
  text-align: left;
}

p {
  margin: 1em 0;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: justify;
}

.hilight-body-text {
  color: var(--card-background-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px;
  place-items: center;
  background-color: var(--card-background-color);
}

.basic-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 1%;
  max-height: fit-content;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.grid-container .grid-item {
  flex: 1 0 calc(33% - 10px);
  max-width: calc(33% - 10px);
  background-color: var(--card-background-color);
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(226, 6, 6, 0.5);
  border-radius: 20px;
}

img {
  max-width: 30vh;
  height: 30vh;
}

.imgcard {
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  box-shadow: var(--shadow-color);
}

.wiggling-image {
  animation: wiggleImage 1s ease-in-out infinite alternate;
}

@keyframes wiggleImage {
  0% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}

.wiggling-imag-2 {
  animation: wiggleImage-2 1s ease-in-out infinite alternate;
}

@keyframes wiggleImage-2 {
  0% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}

button,
.playButton {
  appearance: none;
  font-family: inherit;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  border: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--card-background-color);
  font-size: 1rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  transition: all 500ms;
  overflow: visible;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

.timeline {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
  scrollbar-width: thin;
}

.timeline-item {
  flex: 0 0 auto;
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--card-background-color);
  align-items: center;
}

@media (max-width: 600px) {
  .timeline {
    flex-direction: column;
    align-items: center;
  }

  .timeline-item {
    width: 80%;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.container {
  display: flex;
  justify-content: center;
}

.logos .logo:nth-child(2) {
  transition-delay: 200ms;
}

.logos .logo:nth-child(3) {
  transition-delay: 400ms;
}

.logos .logo:nth-child(4) {
  transition-delay: 600ms;
}

/* Modal Popup */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(69, 88, 156, 0.9); /* Black background with opacity */
  padding-top: 60px; /* Add some padding at the top */
  box-sizing: border-box;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  max-height: 80%; /* Constrain height */
  animation-name: zoom;
  animation-duration: 0.6s;
  font-size: 18px;
  overflow: auto; /* Enable scroll inside modal if needed */
  border-radius: 30px;
  padding: 20px; /* Add padding */
}

#modalHeader {
  display: block; /* Ensure the element is a block-level element */
  text-align: center; /* Center the text horizontally */
  margin: 0 auto; /* Center the element itself if it has a fixed width */
  color: var(--h3-color-text);
}

#caption {
  margin: auto;
  display: block;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  font-size: 18px;
  width: 80%;
}

.modal-content img {
  width: 100%;
  height: auto;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.myImg {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.myImg:hover {
  transform: scale(1.1) rotate(10deg);
  opacity: 0.8;
  cursor: pointer;
}

#transformElement {
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.animate img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.animate.active img {
  opacity: 1;
}

.morlum-pic {
  position: relative;
  top: -80px;
  left: 30px;
}

.section-flow-2 {
  position: absolute;
  top: -250px;
  left: 60px;
  opacity: 0.5;
}

.section-flow-3 {
  position: absolute;
  top: 30rem;
  left: 80rem;
}

.morlum-pic-1 {
  position: absolute;
  top: 100px;
  left: 170px;
}

#khean-1 {
  width: 250px;
  height: 600px;
}

.morlum-pic-2 {
  position: absolute;
  top: 100px;
  left: 1500px;
}

#khean-2 {
  width: 250px;
  height: 600px;
  transform: rotateZ(-10deg);
}

.wrapper-2 {
  display: flex;
  padding: 20px;
  min-height: 100vh;
}

.flex-container-2 {
  margin: 10px;
}

.feature-image-1 {
  min-width: 50vh;
  min-height: 65vh;
  padding: 10px;
}

.container-money {
  top: 0px;
  width: 100%;
  height: 100%;
  min-height: 800px;
  position: absolute;
  left: 0%;
  background-size: contain;
}

.loader {
  text-align: center;
}
.loader span {
  display: inline-block;
  margin: -280px 40px 54px -34px;
  background: url("asset/new-ci/money-drop-20.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation: loader 10s infinite linear;
  -moz-animation: loader 10s infinite linear;
}
.loader span:nth-child(5n + 5) {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
}
.loader span:nth-child(3n + 2) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}
.loader span:nth-child(2n + 5) {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
}

.loader span:nth-child(3n + 10) {
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
}
.loader span:nth-child(7n + 2) {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
}
.loader span:nth-child(4n + 5) {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
}
.loader span:nth-child(3n + 7) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
}
@-webkit-keyframes loader {
  0% {
    width: 80px;
    height: 80px;
    opacity: 1;
    -webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 80px;
    height: 80px;
    opacity: 1;
    -webkit-transform: translate(100px, 600px) rotateZ(270deg);
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;
    -webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}
@-moz-keyframes loader {
  0% {
    width: 80px;
    height: 80px;
    opacity: 1;
    -webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 80px;
    height: 80px;
    opacity: 1;
    -webkit-transform: translate(100px, 600px) rotateZ(270deg);
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;
    -webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}

/* Ensures the iframe is responsive */
.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  background-color: #c6ae73;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* D3 Bubble Chart */
#viz_container {
  position: relative;
  width: 100%;
  height: 80vh; /* Use full viewport height */
  margin: 0 auto;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: absolute;
  background-color: #ffffff;
  padding: 8px;
  box-shadow: 0px 0px 3px 0px #e6e6e6;
  border: 1px solid #0072bc;
  border-radius: 4px;
  pointer-events: none;
  display: none;
  z-index: 1000;
}

svg {
  width: 100%;
  height: 100%;
}

.solid {
  stroke: white;
  stroke-width: 0.2;
}

.dashed {
  stroke: white;
  stroke-width: 0.2;
  stroke-dasharray: 1, 0.5;
}

.dotted {
  stroke: white;
  stroke-width: 0.2;
  stroke-dasharray: 0.2, 0.5;
}

.dashed-dot {
  stroke: white;
  stroke-width: 0.2;
  stroke-dasharray: 1, 0.5, 0.2, 0.5;
}

path {
  fill: var(--card-background-color);
  opacity: 0.9;
}

circle {
  fill: var(--card-background-color);
}

footer {
  background-color: var(--card-background-color);
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center; /* Ensure text inside is centered */
  padding: 20px;
  color: white; /* Ensure the text color contrasts with the background */
  font-size: 1rem;
  line-height: 1.5;
  width: 100%; /* Ensure the footer spans the full width */
  box-sizing: border-box; /* Include padding in width calculation */
}

#credit {
  position: absolute; /* Position it absolutely within #viz_container */
  top: 1100px; /* Adjust the top position as needed */
  left: 860px; /* Adjust the left position as needed */
  background: rgba(
    255,
    255,
    255,
    0.5
  ); /* Optional: Semi-transparent background */
  padding: 10px; /* Optional: Add padding for better spacing */
  font-size: 14px; /* Adjust font size as needed */
  z-index: 1000; /* Ensure it appears above other elements */
  border-radius: 4px; /* Optional: Add rounded corners */
}

/*treemap*/
.node {
  border: solid 1px white;
  font: 0.625em sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  cursor: default;
}

.ledg {
  font: 0.8em sans-serif;
  position: absolute;
  text-indent: 5px;
}

/*overlay*/
/* Ensure the parent div has position: relative to position the overlay correctly */
.parent {
  position: relative;
  width: auto; /* Example width */
  height: auto; /* Example height */
  border: 1px solid #ccc;
}

/* Style the content as necessary */
.content {
  padding: 10px;
}

/* Overlay styling */
.overlay-for-mockup {
  position: absolute; /* Position it absolutely relative to .parent */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* High z-index to be on top */
  display: none; /* Initially hidden */
}

/* Optional: Add transition effect */
.overlay-for-mockup.fade-in {
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
